.ewok {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.leia {
    margin-left: 50px;
    margin-bottom: 25px;
}

.speeder {
    margin-left: 50px;
    margin-bottom: 25px;
}

.vader {
    margin-left: 50px;
    margin-bottom: 25px;
}

.wins {
    margin-left: 500px;
    font-size: 30px;
}

.losses {
    margin-left: 500px;
    font-size: 30px;
}