.ewok {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.leia {
    margin-left: 50px;
    margin-bottom: 10px;
}

.speeder {
    margin-left: 50px;
    margin-bottom: 10px;
}

.vader {
    margin-left: 50px;
    margin-bottom: 10px;
}

.metrics {
    margin-left: 1000px;
}

/*organize into two columns via grid system, so that Score/Target/Wins/Losses is in a second column on the right instead of underneath images*/

